<?xml version="1.0"?>
<launch>
  <master auto="start"/>

  <!-- Map server -->
  <arg name="map_file" default="/home/patrouilleur/catkin_ws/src/Robot/maps/salon.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Place map frame at odometry frame -->
  <!--<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odom_base_footprint_broadcaster" args="0 0 0 0 0 0 odom base_footprint 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 100"/>-->
  
  <node pkg="tf" type="static_transform_publisher" name="odom_base_link_broadcaster" args="0 0 0 0 0 0 odom base_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_nav_broadcaster" args="0 0 0 0 0 0 base_link nav 100"/>
  

  <!-- Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="scan"/>
    <param name="use_map_topic" value="true"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
    <param name="update_min_d" value="0.5"/>
    <param name="update_min_a" value="1.0"/>
  </node>

  <!--<include file="/opt/ros/noetic/share/amcl/examples/amcl_diff.launch" />-->
  <node name="arduino" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />
  <include file="/home/patrouilleur/catkin_ws/src/rplidar_ros/launch/rplidar.launch" />

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="/home/patrouilleur/catkin_ws/src/Robot/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/home/patrouilleur/catkin_ws/src/Robot/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="/home/patrouilleur/catkin_ws/src/Robot/params/local_costmap_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="/home/patrouilleur/catkin_ws/src/Robot/params/global_costmap_params.yaml" command="load" ns="global²_costmap"/>
    <rosparam file="/home/patrouilleur/catkin_ws/src/Robot/params/base_local_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> 

    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="scan"/>
  </node>

</launch>