<?xml version="1.0"?>

<launch>

  <!-- Run the map server -->
  <!--<node name="map_server" pkg="map_server" type="map_server" args="map.yaml" output="screen"/>-->
  <node name="map_server" pkg="map_server" type="map_server" args="/home/patrouilleur/catkin_ws/map.yaml"/>

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="odom_to_base_footprint" args="0 0 0 0 0 0 /odom /base_footprint 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 /base_footprint /base_link 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 /base_link /laser 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_nav" args="0 0 0 0 0 0 /base_link /nav 1000"/>

  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <node name="arduino" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />

  <include file="/opt/ros/noetic/share/amcl/examples/amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!--<param name="footprint_padding" value="0.01" />-->
    <param name="controller_frequency" value="20.0"/>
    <param name="controller_patience" value="15.0"/>
    <!--<param name="planner_frequency" value="1.0" />-->
    <rosparam file="/home/patrouilleur/catkin_ws/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/home/patrouilleur/catkin_ws/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="/home/patrouilleur/catkin_ws/local_costmap_params.yaml" command="load" />
    <rosparam file="/home/patrouilleur/catkin_ws/global_costmap_params.yaml" command="load" />
    <rosparam file="/home/patrouilleur/catkin_ws/base_local_planner_params.yaml" command="load" />

    <!--<param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>-->

    <remap from="cmd_vel" to="cmd_vel" />
  </node>


</launch>